<!-- /templates/customers/login.liquid -->

<div class="container d-flex justify-content-center align-items-center">
    <div class="mt-5">
        <h2>Login</h2>
        {% form 'customer_login' %}

        {{ form.errors | default_errors }}

        <form>
            <div class="mb-3">
                <label for="customer_email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="customer[email]" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="customer_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="customer[password]">
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <hr>

        <!-- <label for="customer_email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="customer[email]" />
            
            <label for="customer_password" class="form-lebel">Password</label>
            <input type="password" class="form-control" name="customer[password]" />
            
            <input type="submit" class="btn btn-primary" value="Sign In" /> -->

        {% endform %}

        <h2 class="mt-3">Forgot Password</h2>
        {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}
        <div class="mb-3">
            <label for="customer_email" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email" />
        </div>

        <input type="submit" class="btn btn-danger w-100" value="Submit" />

        {% endform %}
    </div>
</div>