<!-- /templates/customers/register.liquid -->

<div class="container d-flex justify-content-center align-items-center">
    <div class="my-5">
        {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <div class="mb-3">
            <label for="first_name" class="form-lebel">First Name</label>
            <input type="text" class="form-control" value="" name="customer[first_name]" size="30" />
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-lebel">Last Name</label>
            <input type="text" class="form-control" value="" name="customer[last_name]" size="30" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-lebel">Email Address</label>
            <input type="email" class="form-control" value="" name="customer[email]" size="30" />
        </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" value="" name="customer[password]" size="30" />
        </div>

        <input type="submit" class="btn btn-primary w-100" value="Create" />

        {% endform %}
    </div>
</div>