<div class="container p-3">
    {% paginate section.settings.all_product_collection.products by section.settings.number_of_product_in_pagination %}
    <h1 class="text-center">{{ section.settings.collection-heading }}</h1>
    <div
        class="row row-cols-{{ section.settings.row-mobile }} row-cols-sm-{{ section.settings.row-tablet }} row-cols-md-{{ section.settings.row-desktop }} g-2 my-2">
        {% for product in section.settings.all_product_collection.products limit:
        section.settings.number_of_product_to_show %}
        {% include 'product-card' | product %}
        {% else %}
        <p>no matches</p>
    </div>
    {% endfor %}
    <div class="w-100 d-flex justify-content-center py-3">
        {% include 'paginate' %}
    </div>
    {% endpaginate %}
</div>

{% schema %}
{
"name": "Collection",
"settings": [
{
"type": "text",
"id":"collection-heading",
"label": "Collection Heading",
"default": "Products"
},
{
"type": "collection",
"id": "all_product_collection",
"label": "Collection"
},
{
"type": "range",
"label" : "Number of product to show",
"id": "number_of_product_to_show",
"min": 4,
"max": 10,
"default": 10
},
{
"type": "range",
"id": "row-desktop",
"default": 4,
"label": "Row in Desktop",
"min": 1,
"max": 5,
"step": 1
},
{
"type": "range",
"id": "row-tablet",
"default": 3,
"label": "Row in Tablet",
"min": 1,
"max": 3,
"step": 1
},
{
"type": "range",
"id": "row-mobile",
"default": 2,
"label": "Row in Mobile",
"min": 1,
"max": 3,
"step": 1
},
{
"type": "range",
"id": "number_of_product_in_pagination",
"default": 8,
"label": "Per Pagination Product Show",
"min": 1,
"max": 20,
"step": 1
}
]
}
{% endschema %}